services:
  gatewayapi:
    container_name: gatewayapi
    build:
      context: ./src/GateWayApi
    ports:
      - "8000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - userservice
      - orderservice
      - productservice
      - paymentservice
      - notificationservice
    networks:
      - backend

  userservice:
    container_name: userservice
    build:
      context: ./src/UserService
    ports:
      - "8001:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - backend

  orderservice:
    container_name: orderservice
    build:
      context: ./src/OrderService
    ports:
      - "8002:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - backend

  productservice:
    container_name: productservice
    build:
      context: ./src/ProductService
    ports:
      - "8003:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - backend

  notificationservice:
    container_name: notificationservice
    build:
      context: ./src/NotificationService
    ports:
      - "8004:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - backend

  paymentservice:
    container_name: paymentservice
    build:
      context: ./src/PaymentService
    ports:
      - "8005:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - backend

networks:
  backend:
    driver: bridge
